Repository haakonnese/TDT4140-Programvareutvikling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-test, pre-commit-react-test

pre-commit-django-test:
  name: Django test
  entry: python backend/manage.py test backend
  language: system
  pass_filenames: false

pre-commit-react-test:
  name: React test
  entry: npm run test --prefix frontend/
  language: system
  pass_filenames: false

Skrev tester for filtrering #24
  backend/ad/tests.py
  backend/ad/views.py
Due: pre-commit-django-test

endre passord, bruker- og annonse-info #14
  backend/db.sqlite3
  backend/user/views.py
  frontend/src/App.js
  frontend/src/service/FetchData.js
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserProfile.js
Due: pre-commit-django-test, pre-commit-react-test

Endre endepunkt og metodenavn PostPutData #14
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/service/FetchData.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
  frontend/src/user/UserInfo/EditAd.js
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserAds.js
  frontend/src/user/UserInfo/UserProfile.js
Due: pre-commit-react-test

endret litt på metoden #24
  backend/ad/views.py
Due: pre-commit-django-test

la til type for PUT-funksjon #14
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Opprette rating-komponent #29
  frontend/src/App.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/ProductInfo/ProductInfo.test.js
  frontend/src/marketplace/ProductInfo/styles.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/rating/GiveRating.js
Due: pre-commit-react-test

Se hvilket produkt man rater #29
  frontend/src/rating/GiveRating.js
Due: pre-commit-react-test

Se gi tilbakemeldingsknapp #29
  frontend/src/App.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/ProductInfo/ProductInfo.test.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/rating/GiveRating.js
Due: pre-commit-react-test

Sjekk om unntak er kastet heller enn lengde #15
  backend/ad/tests.py
  backend/ad/views.py
  backend/media/test/test2.jpg
Due: pre-commit-django-test

Fiks feil for hvilket bilde som legges til #14
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Legg til mulighet for endre info bruker #11
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/service/FetchData.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserProfile.js
  frontend/src/user/UserInfo/styles.js
Due: pre-commit-react-test

begynt på EditUser test
  frontend/package-lock.json
  frontend/package.json
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

riktig url på UserAds #14
  backend/db.sqlite3
  frontend/src/user/UserInfo/UserAds.js
Due: pre-commit-react-test

Laget view for å se annonser til user som er innlogget #13
  backend/ad/urls.py
  backend/ad/views.py
Due: pre-commit-django-test

Begynt på rating #28
  backend/ad/models.py
  backend/ad/serializers.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/rating/admin.py
  backend/rating/apps.py
  backend/rating/models.py
  backend/rating/serializers.py
  backend/rating/tests.py
  backend/rating/urls.py
  backend/rating/views.py
Due: pre-commit-django-test

Endre data sendt til backend til samme format #23
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Filter.test.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/reducers.js
Due: pre-commit-react-test

Test GiveRating #29
  frontend/src/rating/GiveRating.js
  frontend/src/rating/GiveRating.test.js
Due: pre-commit-react-test

Se rating som bruker har fått #32
  frontend/src/App.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/rating/Rating.js
  frontend/src/rating/SeeRating.js
  frontend/src/rating/SeeRating.test.js
  frontend/src/rating/styles.js
Due: pre-commit-react-test

Legg til hjemby når man ser annen bruker #32
  frontend/src/rating/SeeRating.js
Due: pre-commit-react-test

Lagre annonse med model, view og serializer #36
  backend/ad/admin.py
  backend/ad/models.py
  backend/ad/serializers.py
  backend/ad/urls.py
  backend/ad/views.py
Due: pre-commit-django-test

Legg til hjerteknapp og send endring til db #35
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/marketplace/HeartButton.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/service/FetchData.js
Due: pre-commit-react-test

EditUser test ferdig
  frontend/src/service/FetchData.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

Test favoriser annonse #35
  frontend/src/marketplace/HeartButton.test.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
Due: pre-commit-react-test

Test favoriser annonse backend #36
  backend/ad/tests.py
Due: pre-commit-django-test

Sender ikke lengre med passordet #12
  backend/user/views.py
Due: pre-commit-django-test

fiks på endring av passord #10
  backend/db.sqlite3
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
Due: pre-commit-react-test

Max-pris endret til 10**15 #23
  backend/ad/views.py
Due: pre-commit-django-test

Legg til token i deleteData #37
  backend/ad/views.py
  frontend/src/marketplace/Products/Products.js
  frontend/src/service/FetchData.js
Due: pre-commit-django-test, pre-commit-react-test

EditAd test ferdig
  backend/db.sqlite3
  backend/media/product/161023671_1208468812901904_7555403272606702380_n.png
  frontend/src/user/EditUser.js
  frontend/src/user/UserAd.js
  frontend/src/user/UserAds.js
  frontend/src/user/UserInfo/EditAd.test.js
  frontend/src/user/UserProfile.js
  frontend/src/user/styles.js
  frontend/src/user/txtfil
Due: pre-commit-react-test

Fikse sortering case-sensitiv #23
  backend/ad/views.py
Due: pre-commit-django-test

changes in views #13
  backend/ad/views.py
Due: pre-commit-django-test

23-filtrering-ferdig
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/db.sqlite3
  backend/media/product/140938889_1693674104148799_2236713809136899364_n.jpg
  backend/media/product/140938889_1693674104148799_2236713809136899364_n_BzaWZoo.jpg
  backend/media/product/140938889_1693674104148799_2236713809136899364_n_HRLR84a.jpg
  backend/media/product/140938889_1693674104148799_2236713809136899364_n_ZRlPbhm.jpg
  backend/media/product/159167165_266931431568361_3507530392530352338_n.jpg
  backend/media/product/161023671_1208468812901904_7555403272606702380_n.png
  backend/media/product/20.11.201815-29-59_1-1.jpg
  backend/media/product/Markatrimmenkart2021_1.JPG
  backend/media/product/Markatrimmenkart2021_1_7ZmgPYx.JPG
  backend/media/product/Markatrimmenkart2021_1_96ya4BA.JPG
  backend/media/product/Markatrimmenkart2021_1_l95jxyX.JPG
  backend/user/migrations/0001_initial.py
Due: pre-commit-django-test

23-til-master
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  frontend/src/App.js
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-django-test, pre-commit-react-test

Legge til riktig Routes i frontend #13
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/marketplace/Products/Products.js
Due: pre-commit-react-test

Endre fra PostData til PostPutData #23
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
Due: pre-commit-react-test

La til tester #28
  backend/media/test/test_rating.jpg
  backend/rating/__init__.py
  backend/rating/serializers.py
  backend/rating/tests.py
  backend/rating/views.py
Due: pre-commit-django-test

manglet init fil, førte til bug #28
  backend/rating/migrations/__init__.py
Due: pre-commit-django-test

Glemt å opprette category i rating-test #29
  backend/rating/tests.py
Due: pre-commit-django-test

Sende rating med annonser, feilhåndtering #27
  backend/ad/serializers.py
  backend/rating/models.py
  frontend/src/rating/GiveRating.js
Due: pre-commit-django-test, pre-commit-react-test

Merge branch 'master' into 27-rating
  backend/ad/tests.py
  backend/ad/urls.py
  backend/ad/views.py
  backend/media/test/test1.jpg
  backend/media/test/test2.jpg
  backend/user/serializers.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Filter.test.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
  frontend/src/marketplace/Products/errorMessages.js
  frontend/src/rating/GiveRating.js
  frontend/src/rating/GiveRating.test.js
  frontend/src/reducers.js
  frontend/src/reducers.test.js
  frontend/src/service/FetchData.js
  frontend/src/st.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.test.js
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserProfile.js
  frontend/src/user/UserInfo/styles.js
Due: pre-commit-django-test, pre-commit-react-test

Path conditions:
  pre-commit-django-test: any of: \.py$
  pre-commit-react-test: any of: \.(js|mjs|cjs)$
