Repository haakonnese/TDT4140-Programvareutvikling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-test, pre-commit-react-test

pre-commit-django-test:
  name: Django test
  entry: python backend/manage.py test backend
  language: system
  pass_filenames: false

pre-commit-react-test:
  name: React test
  entry: npm run test --prefix frontend/
  language: system
  pass_filenames: false

Fikse readme enter
  .pre-commit-config.yaml
  README.md
Due: none

Fikse readme enter
  README.md
Due: none

Fikse enter readme
  README.md
Due: none

Endret til backend requiremets
  README.md
Due: none

Legg til pre-commit i avhengigheter
  frontend/package-lock.json
  frontend/package.json
Due: none

Logg inn og registreringsskjema #3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Copyright.js
  frontend/src/sellPointURL.js
  frontend/src/service/PostData.js
  frontend/src/user/InputTextField.js
  frontend/src/user/Registration.js
  frontend/src/user/SignIn.js
  frontend/src/user/styles.js
Due: pre-commit-react-test

Kommentarer og endring av struktur #3
  frontend/src/App.js
  frontend/src/sellPointURL.js
  frontend/src/service/Copyright.js
  frontend/src/service/PostData.js
  frontend/src/service/sellPointURL.js
  frontend/src/user/InputTextField.js
  frontend/src/user/LogIn.js
  frontend/src/user/Registration.js
Due: pre-commit-react-test

testing #5
  backend/test
Due: none

deleted original backend map #5
  backend/backend/__init__.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/manage.py
Due: pre-commit-django-test

testing #5
  backend/db.sqlite3
  backend/sellpoint/__init__.py
  backend/sellpoint/admin.py
  backend/sellpoint/apps.py
  backend/sellpoint/migrations/__init__.py
  backend/sellpoint/models.py
  backend/sellpoint/tests.py
  backend/sellpoint/views.py
Due: pre-commit-django-test

Added app "sellpoint", connected app to the server #5
  backend/backend/urls.py
  backend/sellpoint/urls.py
  backend/sellpoint/views.py
Due: pre-commit-django-test

Oppsett #2
  .pre-commit-config.yaml
  backend/API/__init__.py
  backend/API/admin.py
  backend/API/apps.py
  backend/API/migrations/__init__.py
  backend/API/models.py
  backend/API/tests.py
  backend/API/views.py
  backend/db.sqlite3
  frontend/package-lock.json
Due: pre-commit-django-test

la til et view#2
  backend/API/urls.py
  backend/API/views.py
Due: pre-commit-django-test

la til urls#2
  backend/backend/urls.py
Due: pre-commit-django-test

Opprettet markedsplass og produkt-objekter #8
  .pre-commit-config.yaml
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/marketplace/components/Navbar/Navbar.jsx
  frontend/src/marketplace/components/Products/Product/Product.jsx
  frontend/src/marketplace/components/Products/Product/styles.js
  frontend/src/marketplace/components/Products/Products.jsx
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Due: pre-commit-react-test

Lagt til profile modellen #2
  backend/API/admin.py
  backend/API/models.py
  backend/API/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Due: pre-commit-django-test

Revert "deleted original backend map #5"
  backend/backend/__init__.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/manage.py
Due: pre-commit-django-test

Added Ad as model, and updated database
  backend/API/migrations/0001_initial.py
  backend/API/models.py
  backend/backend/settings.py
  backend/db.sqlite3
Due: pre-commit-django-test

Test for logg-inn med mock av PostData #3
  frontend/package.json
  frontend/src/App.test.js
  frontend/src/user/InputTextField.test.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
Due: pre-commit-react-test

Oppdaterte tester. Fikset logisk feil i test #3
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
Due: pre-commit-react-test

liten endring #8
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.js
  frontend/src/App.js
  frontend/src/marketplace/components/Navbar/Navbar.js
  frontend/src/marketplace/components/Navbar/Navbar.jsx
  frontend/src/marketplace/components/Navbar/styles.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/Products/Product/Product.js
  frontend/src/marketplace/components/Products/Products.js
  frontend/src/marketplace/components/service/PostData.js
  frontend/src/marketplace/components/service/sellPointURL.js
Due: pre-commit-react-test

la til ad #9
  backend/API/models.py
  backend/db.sqlite3
Due: pre-commit-django-test

Registrering test. Sjekk feilmeldinger #3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/user/InputTextField.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
Due: pre-commit-react-test

Error-meldinger i egen fil #3
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
  frontend/src/user/errorMessages.js
Due: pre-commit-react-test

visning for annonser og forsøk på test #9
  backend/API/tests.py
  backend/API/views.py
Due: pre-commit-django-test

Header og footer. Navigering til logginn #3
  frontend/src/App.js
  frontend/src/Footer.js
  frontend/src/Header.js
  frontend/src/index.css
  frontend/src/user/LogIn.js
  frontend/src/user/Registration.js
Due: pre-commit-react-test

test profil, funker ikke helt #9
  backend/API/tests.py
Due: pre-commit-django-test

Fikse høyre/venstre knapper header #3
  frontend/src/Header.js
Due: pre-commit-react-test

Endret måten man skifter mellom sider #3
  frontend/src/Header.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
Due: pre-commit-react-test

registrering av og serialiserer for profil #2
  backend/API/models.py
  backend/API/serializers.py
  backend/API/tests.py
  backend/API/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Due: pre-commit-django-test

La til flere tester #2
  backend/API/models.py
  backend/API/tests.py
  backend/API/urls.py
  backend/API/views.py
  backend/backend/urls.py
Due: pre-commit-django-test

start test av profil #9
  backend/API/tests.py
Due: pre-commit-django-test

mulig å trykke seg inn på annonse #8
  frontend/src/App.js
  frontend/src/marketplace/components/Navbar/Navbar.js
  frontend/src/marketplace/components/Navbar/styles.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/ProductInfo/styles.js
  frontend/src/marketplace/components/Products/Product/Product.js
  frontend/src/marketplace/components/Products/Product/styles.js
  frontend/src/marketplace/components/Products/Products.js
Due: pre-commit-react-test

Serialisering av profil og autentisering #2
  backend/API/apps.py
  backend/API/migrations/__init__.py
  backend/API/serializers.py
  backend/API/tests.py
  backend/API/views.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/db.sqlite3
  backend/user/__init__.py
  backend/user/admin.py
  backend/user/apps.py
  backend/user/migrations/0001_initial.py
  backend/user/migrations/__init__.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Due: pre-commit-django-test

Laget view/urls for enkel annonse og oversikt #9
  backend/API/urls.py
  backend/API/views.py
  backend/backend/urls.py
Due: pre-commit-django-test

testing og ferdigstilling #8
  frontend/src/marketplace/components/Navbar/Navbar.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.test.js
  frontend/src/marketplace/components/ProductInfo/styles.js
  frontend/src/marketplace/components/Products/Product/Product.js
  frontend/src/marketplace/components/Products/Product/styles.js
  frontend/src/marketplace/components/Products/Products.js
  frontend/src/marketplace/components/Products/Products.test.js
  frontend/src/marketplace/components/service/PostData.js
Due: pre-commit-react-test

Fikse test. Glemt kr etter pris #8
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
Due: pre-commit-react-test

La til flere tester #2
  backend/user/tests.py
  backend/user/views.py
Due: pre-commit-django-test

Liten endring i import #8
  frontend/src/marketplace/components/Products/Product/Product.js
Due: pre-commit-react-test

Path conditions:
  pre-commit-django-test: any of: \.py$
  pre-commit-react-test: any of: \.(js|mjs|cjs)$
