Repository haakonnese/TDT4140-Programvareutvikling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-test, pre-commit-react-test

pre-commit-django-test:
  name: Django test
  entry: python backend/manage.py test backend
  language: system
  pass_filenames: false

pre-commit-react-test:
  name: React test
  entry: npm run test --prefix frontend/
  language: system
  pass_filenames: false

La til databasen #2
  backend/db.sqlite3
Due: none

La til litt mer på testene #2
  backend/user/serializers.py
  backend/user/tests.py
Due: pre-commit-django-test

Endret på databasen #2
  backend/db.sqlite3
Due: none

Laget adminbruker og lagt til url slik at man kan lage annonse etter man har logget på #5
  backend/API/admin.py
  backend/API/migrations/0002_auto_20210215_1034.py
  backend/API/urls.py
  backend/API/views.py
  backend/backend/urls.py
  backend/db.sqlite3
Due: pre-commit-django-test

Laget serializer og views for Ad #5
  backend/API/serializers.py
  backend/API/urls.py
  backend/API/views.py
  backend/backend/settings.py
  backend/db.sqlite3
Due: pre-commit-django-test

Lagt til mulighet for å redigere en profil #12
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Due: pre-commit-django-test

Fikset til json-format, begynt med test #9
  backend/API/serializers.py
  backend/API/tests.py
  backend/API/views.py
  backend/backend/urls.py
Due: pre-commit-django-test

Ferdigstille innlogging. #1
  backend/backend/settings.py
  backend/db.sqlite3
  backend/requirements.txt
  backend/user/serializers.py
  backend/user/tests.py
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/service/PostData.js
  frontend/src/service/sellPointURL.js
  frontend/src/user/InputTextField.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
Due: pre-commit-django-test, pre-commit-react-test

Endret innloggingslagring fra session til local #1
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/user/LogIn.js
  frontend/src/user/Registration.js
Due: pre-commit-react-test

La til test og feilhåndtering ved slettet annonse #9
  backend/API/tests.py
  backend/API/views.py
Due: pre-commit-django-test

Small changes after testing with postman #5
  backend/API/migrations/0003_ad_price.py
  backend/API/models.py
  backend/API/serializers.py
  backend/API/views.py
  backend/db.sqlite3
Due: pre-commit-django-test

fjernet email fra brukerne #12
  backend/user/tests.py
  backend/user/views.py
Due: pre-commit-django-test

Added directory for photos, made a new form for uploading photos, and made view for creating ad with photos #5
  backend/API/forms.py
  backend/API/migrations/0004_ad_image.py
  backend/API/migrations/0005_auto_20210219_0758.py
  backend/API/models.py
  backend/API/serializers.py
  backend/API/templates/API/index.html
  backend/API/urls.py
  backend/API/views.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/db.sqlite3
  backend/media/images/Skjermbilde_2021-02-17_kl._14.41.22.png
  backend/media/images/Skjermbilde_2021-02-18_kl._13.10.26.png
  backend/media/images/oving2_diagram_oppgave2.jpg
  backend/media/images/oving2_diagram_oppgave2_tT6X5E8.jpg
  backend/media/upload/Skjermbilde_2021-01-11_kl._14.18.14.png
  backend/media/upload/Skjermbilde_2021-01-11_kl._14.18.14_eSuwKnF.png
  backend/media/upload/Skjermbilde_2021-01-13_kl._07.38.29.png
  backend/media/upload/Skjermbilde_2021-01-13_kl._08.02.15.png
  backend/media/upload/Skjermbilde_2021-01-15_kl._13.17.17.png
  backend/media/upload/Skjermbilde_2021-01-18_kl._12.48.01.png
  backend/media/upload/Skjermbilde_2021-02-17_kl._15.09.03.png
  backend/media/upload/Skjermbilde_2021-02-17_kl._15.09.03_3fHsxKt.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_KiTBhOD.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_eimWpmO.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_fO35Whg.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_hZtPqay.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_nAL4SbD.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_r8i4GHi.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_s6BjqlB.png
  backend/media/upload/Skjermbilde_2021-02-18_kl._13.10.26_tYN7hN4.png
Due: pre-commit-django-test

la til bilder fra lage-annonse #9
  backend/API/forms.py
  backend/API/models.py
  backend/API/serializers.py
  backend/backend/settings.py
  backend/backend/urls.py
Due: pre-commit-django-test

"funker det nå?"
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Header.txt
  frontend/src/PostData.js
  frontend/src/annonse.js
  frontend/src/annonsetest.test.js
  frontend/src/errormessages.js
  frontend/src/håkons.txt
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/inputtext.js
  frontend/src/sellPointURL.js
  frontend/src/st.js
  frontend/src/styles.js
  frontend/src/tekstboks.js
  frontend/src/uploadComponent.js
Due: pre-commit-react-test

Liten fiks i Adserializer #9
  backend/API/serializers.py
Due: pre-commit-django-test

la til test opplastning av bilde #9
  backend/API/tests.py
  backend/media/images/2021-02-19.png
  backend/media/images/bilde.png
Due: pre-commit-django-test

Endret attributtnavn, modellnavn, og lagt til unit tests #5
  backend/API/forms.py
  backend/API/migrations/0006_auto_20210222_0822.py
  backend/API/migrations/0007_auto_20210222_0827.py
  backend/API/migrations/0008_auto_20210222_0857.py
  backend/API/migrations/0009_auto_20210222_0906.py
  backend/API/models.py
  backend/API/serializers.py
  backend/API/tests.py
  backend/API/urls.py
  backend/API/views.py
  backend/db.sqlite3
  backend/media/upload/Skjermbilde_2021-02-17_kl._14.41.22.png
  backend/media/upload/Skjermbilde_2021-02-17_kl._14.59.06.png
Due: pre-commit-django-test

endret format på ads #9
  backend/API/tests.py
  backend/API/views.py
Due: pre-commit-django-test

Endret litt på attributt-navn #9
  backend/API/models.py
  backend/API/serializers.py
  backend/API/tests.py
Due: pre-commit-django-test

Small name changes and fixes #5
  backend/API/apps.py
  backend/ad/__init__.py
  backend/ad/admin.py
  backend/ad/apps.py
  backend/ad/forms.py
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_auto_20210215_1034.py
  backend/ad/migrations/0003_ad_price.py
  backend/ad/migrations/0004_ad_image.py
  backend/ad/migrations/0005_auto_20210219_0758.py
  backend/ad/migrations/0006_auto_20210222_0822.py
  backend/ad/migrations/0007_auto_20210222_0827.py
  backend/ad/migrations/0008_auto_20210222_0857.py
  backend/ad/migrations/0009_auto_20210222_0906.py
  backend/ad/migrations/__init__.py
  backend/ad/models.py
  backend/ad/serializers.py
  backend/ad/templates/API/index.html
  backend/ad/tests.py
  backend/ad/urls.py
  backend/ad/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Due: pre-commit-django-test

Small changes 2 #5
  backend/ad/migrations/0010_auto_20210222_1040.py
  backend/ad/models.py
  backend/ad/views.py
  backend/db.sqlite3
Due: pre-commit-django-test

deleted sellpoint directory #5
  backend/sellpoint/__init__.py
  backend/sellpoint/admin.py
  backend/sellpoint/apps.py
  backend/sellpoint/migrations/__init__.py
  backend/sellpoint/models.py
  backend/sellpoint/tests.py
  backend/sellpoint/urls.py
  backend/sellpoint/views.py
Due: pre-commit-django-test

"Lage-Annonse-kanskje-ferdig"
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ProductRegistration/PostData.js
  frontend/src/ProductRegistration/annonse.js
  frontend/src/ProductRegistration/annonse.test.js
  frontend/src/ProductRegistration/errorMessages.js
  frontend/src/ProductRegistration/håkons.txt
  frontend/src/ProductRegistration/inputtext.js
  frontend/src/ProductRegistration/sellPointURL.js
  frontend/src/ProductRegistration/setupTests.js
  frontend/src/ProductRegistration/styles.js
  frontend/src/ProductRegistration/tekstboks.js
  frontend/src/ProductRegistration/uploadComponent.js
  frontend/src/annonsetest.test.js
  frontend/src/desktop.ini
  frontend/src/errormessages.js
  frontend/src/index.js
  frontend/src/uploadComponent.js
Due: pre-commit-react-test

Fjerne undøvendige filer for gitLab #5
  backend/ad/migrations/0001_initial.py
  backend/db.sqlite3
  backend/user/migrations/0001_initial.py
Due: pre-commit-django-test

La til Pillow i avhengigheter #5
  backend/requirements.txt
Due: none

Tekstområde for opplasting og navngiving #6
  frontend/src/Header.txt
  frontend/src/ProductRegistration/Ad.js
  frontend/src/ProductRegistration/Ad.test.js
  frontend/src/ProductRegistration/InputTextField.js
  frontend/src/ProductRegistration/håkons.txt
  frontend/src/ProductRegistration/setupTests.js
  frontend/src/ProductRegistration/tekstboks.js
  frontend/src/ProductRegistration/uploadComponent.js
  frontend/src/desktop.ini
  frontend/src/index.css
  frontend/src/index.js
Due: pre-commit-react-test

Makemigrations og migrate før test i CI #5
  .gitlab-ci.yml
Due: none

Fikse test #6
  frontend/src/ProductRegistration/Ad.js
  frontend/src/ProductRegistration/Ad.test.js
Due: pre-commit-react-test

Registrering av annonse frontend + backend #4
  backend/ad/tests.py
  backend/ad/urls.py
  backend/backend/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/ProductRegistration/Ad.js
  frontend/src/ProductRegistration/Ad.test.js
  frontend/src/ProductRegistration/PostData.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/ProductRegistration/sellPointURL.js
  frontend/src/index.js
  frontend/src/service/PostData.js
  frontend/src/standardComponents/InputTextField.js
  frontend/src/standardComponents/InputTextField.test.js
  frontend/src/standardComponents/styles.js
  frontend/src/user/InputTextField.js
  frontend/src/user/LogIn.js
  frontend/src/user/Registration.js
  frontend/src/user/styles.js
Due: pre-commit-django-test, pre-commit-react-test

Sender til og lagrer by i database #4
  backend/ad/forms.py
  backend/ad/models.py
  backend/ad/serializers.py
Due: pre-commit-django-test

frontend-ferdig #4
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Endret på testene #4
  backend/ad/tests.py
Due: pre-commit-django-test

Update requirements.txt
  backend/requirements.txt
Due: none

Endre PostData til GetData #8
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/Products/Products.js
  frontend/src/marketplace/components/service/GetData.js
Due: pre-commit-react-test

Prøver å fikse pipeline #9
  .pre-commit-config.yaml
Due: none

Endre endepunkt, ble blokkert av adblock #19
  backend/backend/urls.py
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-django-test, pre-commit-react-test

Delete db.sqlite3
  backend/db.sqlite3
Due: none

Path conditions:
  pre-commit-django-test: any of: \.py$
  pre-commit-react-test: any of: \.(js|mjs|cjs)$
