Repository haakonnese/TDT4140-Programvareutvikling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-test, pre-commit-react-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^frontend/package-lock.json
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.19.0
    hooks:
      - id: eslint
  - repo: local
    hooks:
      - id: pre-commit-django-test
        name: Django test
        entry: python backend/manage.py test backend
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pre-commit-react-test
        name: React test
        entry: npm run test --prefix frontend/
        language: system
        types: [javascript]
        pass_filenames: false

liten endring i importeringer #38
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

rette-opp
  frontend/src/user/UserInfo/EditAd.test.js
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

rette opp
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

rette opp
  frontend/src/ProductRegistration/RegisterAd.test.js
Due: pre-commit-react-test

Endre link til bruker #32
  frontend/src/marketplace/ProductInfo/ProductInfo.js
Due: pre-commit-react-test

ferdigstille
  frontend/src/ProductRegistration/RegisterAd.test.js
Due: pre-commit-react-test

Fiks UI se rating #34
  frontend/src/marketplace/Products/Products.js
  frontend/src/rating/SeeRating.js
  frontend/src/rating/SeeRating.test.js
  frontend/src/rating/styles.js
Due: pre-commit-react-test

Bugfiks: ruter ikke lagt til test ProductInfo #34
  frontend/src/marketplace/ProductInfo/ProductInfo.test.js
Due: pre-commit-react-test

Lagt til sold_date, fjerner 5dager siden solgt fra markedsiden #38
  backend/ad/models.py
  backend/ad/serializers.py
  backend/ad/tests.py
  backend/ad/views.py
Due: pre-commit-django-test

Koble til GiveRating via redux #34
  frontend/src/rating/GiveRating.js
  frontend/src/rating/GiveRating.test.js
Due: pre-commit-react-test

Kommetering + henting av kategorier
  frontend/src/App.js
  frontend/src/Footer.js
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/index.js
  frontend/src/marketplace/HeartButton.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/rating/GiveRating.js
  frontend/src/rating/SeeRating.js
  frontend/src/reducers.js
  frontend/src/service/FetchData.js
  frontend/src/user/LogIn.js
  frontend/src/user/Registration.js
Due: pre-commit-react-test

test
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_auto_20210407_1036.py
  backend/db.sqlite3
  backend/rating/migrations/0001_initial.py
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-django-test, pre-commit-react-test

Innlagt annonser
  backend/db.sqlite3
  backend/media/product/4WD-kampanje_Aleksander_Rørnes_BiN-61.jpg_1017x678.jpg
  backend/media/product/Gressklipper-batteri1.jpg
  backend/media/product/antikt_bord.jpg
  backend/media/product/dopapir.webp
  backend/media/product/gbc.jpg
  backend/media/product/grått_teppe.jpg
  backend/media/product/iphone_lader.webp
  backend/media/product/kjeler.jpg
  backend/media/product/pc.png
  backend/media/product/pc_H3H5WNu.png
  backend/media/product/pc_yBFN8FN.png
  backend/media/product/pokemon-penal.jpg
  backend/media/product/pokemon-penal_TROZLK1.jpg
  backend/media/product/ski.jpg
  backend/media/product/stol.jpg
  backend/media/product/sykkel-100582.jpg
  backend/media/product/trampline.jpg
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Fjerne mulighet til å gi rating til seg selv #42
  backend/user/urls.py
  backend/user/views.py
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/reducers.js
  frontend/src/user/LogIn.js
  frontend/src/user/Registration.js
Due: pre-commit-django-test, pre-commit-react-test

Tydeliggjøre visning av solgte annonser. #42
  backend/ad/forms.py
  backend/ad/models.py
  backend/ad/views.py
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/ProductInfo/styles.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-django-test, pre-commit-react-test

Vis 404-side #42
  frontend/src/App.js
  frontend/src/Error.js
Due: pre-commit-react-test

Dele på null feil #42
  backend/rating/views.py
Due: pre-commit-django-test

Lagg fører til mange like annonser #42
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Fjerne unødvendigheter #42
  frontend/src/marketplace/Products/Products.js
  frontend/src/rating/GiveRating.test.js
Due: pre-commit-react-test

Gi beskjed dersom annonser ikke er opprettet #42
  frontend/src/user/UserInfo/UserAds.js
Due: pre-commit-react-test

Last bruker som trykkes på fra se rating #42
  frontend/src/rating/SeeRating.js
Due: pre-commit-react-test

Test show userAds #42
  frontend/src/user/UserInfo/UserAds.test.js
Due: pre-commit-react-test

Test show UserProfile #42
  frontend/src/user/UserInfo/UserProfile.test.js
Due: pre-commit-react-test

Flake feil #42
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_auto_20210407_1036.py
  backend/ad/migrations/0003_auto_20210407_1444.py
  backend/db.sqlite3
  backend/rating/migrations/0001_initial.py
Due: pre-commit-django-test

Flake8 feil #42
  backend/user/urls.py
  backend/user/views.py
Due: pre-commit-django-test

Kun mulighet for tilbakemelding dersom solgt #42
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/rating/GiveRating.js
Due: pre-commit-react-test

Last inn loggedIn-prop før route #42
  frontend/src/App.js
Due: pre-commit-react-test

Formatere tall slik at de blir mer leselig #42
  backend/ad/migrations/0004_auto_20210407_1532.py
  backend/ad/models.py
  backend/db.sqlite3
  backend/media/product/dopapir.jpg
  backend/media/product/dopapir.webp
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/rating/GiveRating.js
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-django-test, pre-commit-react-test

Fiks sold GiveRatingTest #42
  frontend/src/rating/GiveRating.test.js
Due: pre-commit-react-test

Informasjon om hvordan appen bygges og kjøres
  README.md
Due: none

Oppdater currentPage når naturlig #42
  frontend/src/marketplace/Products/Products.js
Due: pre-commit-react-test

Oppdatert database #42
  backend/db.sqlite3
  backend/media/product/tørrgjær.jpeg
Due: none

Feil ved fjerning av pris #42
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Kan kun endre egne annonser #42
  frontend/src/user/UserInfo/EditAd.js
Due: pre-commit-react-test

Test EditAd #42
  frontend/src/user/UserInfo/EditAd.js
  frontend/src/user/UserInfo/EditAd.test.js
Due: pre-commit-react-test
