Repository haakonnese/TDT4140-Programvareutvikling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-test, pre-commit-react-test

pre-commit-django-test:
  name: Django test
  entry: python backend/manage.py test backend
  language: system
  pass_filenames: false

pre-commit-react-test:
  name: React test
  entry: npm run test --prefix frontend/
  language: system
  pass_filenames: false

Revert "Endre PostData til GetData #8"
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/Products/Products.js
  frontend/src/marketplace/components/service/GetData.js
Due: pre-commit-react-test

Bug i lagring av token ved registrering #19
  frontend/src/user/Registration.js
Due: pre-commit-react-test

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Endre endepunkt test #19
  backend/ad/tests.py
Due: pre-commit-django-test

Se annonser som kommer fra backend #7
  backend/ad/models.py
  backend/ad/serializers.py
  backend/ad/tests.py
  backend/ad/urls.py
  backend/ad/views.py
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/ProductInfo/ProductInfo.test.js
  frontend/src/marketplace/components/Products/Product/Product.js
  frontend/src/marketplace/components/Products/Products.js
  frontend/src/marketplace/components/Products/Products.test.js
  frontend/src/service/FetchData.js
  frontend/src/user/LogIn.js
  frontend/src/user/LogIn.test.js
  frontend/src/user/Registration.js
  frontend/src/user/Registration.test.js
Due: pre-commit-django-test, pre-commit-react-test

Fjerne vertical scroll+ margintop annonse mobil #7
  frontend/src/Header.js
  frontend/src/marketplace/components/Navbar/Navbar.js
  frontend/src/marketplace/components/Navbar/styles.js
  frontend/src/marketplace/components/Products/Product/styles.js
  frontend/src/marketplace/components/Products/Products.js
Due: pre-commit-react-test

Kun positive verdier for varer man selger #7
  frontend/src/standardComponents/InputTextField.js
Due: pre-commit-react-test

Komprimere bilde før opplasting #7
  backend/ad/models.py
Due: pre-commit-django-test

Legge til kategori og by på fremside #20
  backend/ad/serializers.py
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/ProductInfo/styles.js
  frontend/src/marketplace/components/Products/Product/Product.js
  frontend/src/marketplace/components/service/PostData.js
  frontend/src/marketplace/components/service/sellPointURL.js
Due: pre-commit-django-test, pre-commit-react-test

Ikke vise beskrivelse på fremside #21
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
  frontend/src/marketplace/components/Products/Product/Product.js
Due: pre-commit-react-test

Endre avstand topp annonse #21
  frontend/src/marketplace/components/ProductInfo/styles.js
Due: pre-commit-react-test

Avsnitt beskrivelse synes #22
  frontend/src/marketplace/components/ProductInfo/ProductInfo.js
Due: pre-commit-react-test

Kategori hentes fra database. #26 La til profil-ikon for flere valg slik at header ikke blir helt overfylt
  backend/ad/admin.py
  backend/ad/models.py
  backend/ad/serializers.py
  backend/ad/urls.py
  backend/ad/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/index.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/ProductInfo/ProductInfo.test.js
  frontend/src/marketplace/ProductInfo/styles.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/marketplace/Products/Product/styles.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
Due: pre-commit-django-test, pre-commit-react-test

Filtreringsmuligheter frontend med reducer #25
  frontend/src/App.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Filter.test.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/errorMessages.js
  frontend/src/reducers.js
  frontend/src/reducers.test.js
  frontend/src/st.js
Due: pre-commit-react-test

Fikse tester filter frontend #25
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Products.test.js
  frontend/src/reducers.js
  frontend/src/reducers.test.js
Due: pre-commit-react-test

Feil i importering #26
  frontend/src/marketplace/Products/Products.js
Due: pre-commit-react-test

Fikse test kategori #26
  frontend/src/ProductRegistration/RegisterAd.test.js
Due: pre-commit-react-test

La til kommentarer #12
  backend/user/views.py
Due: pre-commit-django-test

La til standard-kategorier #26
  frontend/src/App.js
Due: pre-commit-react-test

Endret måten vi oppdaterer en profil #12
  backend/user/serializers.py
  backend/user/tests.py
  backend/user/views.py
Due: pre-commit-django-test

La til mulighet for sortering på kategori #24
  backend/ad/urls.py
  backend/ad/views.py
Due: pre-commit-django-test

Endret formatet på filtrerings funksjonen #24
  backend/ad/views.py
Due: pre-commit-django-test

La til tester #24
  backend/ad/tests.py
  backend/ad/views.py
Due: pre-commit-django-test

Fikset litt på testene #24
  backend/ad/tests.py
  backend/media/test/test1.jpg
  backend/media/test/test2.jpg
Due: pre-commit-django-test

Oppdaterte ad-model #26
  backend/ad/models.py
  backend/ad/views.py
Due: pre-commit-django-test

Ad refererer til kategori #26
  backend/ad/models.py
  backend/ad/views.py
  frontend/src/App.js
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-django-test, pre-commit-react-test

Fikse test kategori #26
  backend/ad/tests.py
  backend/ad/views.py
Due: pre-commit-django-test

filer&linker for profil- og annonse-redigering #14
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/db.sqlite3
  backend/media/product/bat.png
  backend/user/migrations/0001_initial.py
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/Header.js
  frontend/src/service/FetchData.js
  frontend/src/user/UserInfo/EditAd.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserAd.js
  frontend/src/user/UserInfo/UserAds.js
  frontend/src/user/UserInfo/UserProfile.js
  frontend/src/user/UserInfo/styles.js
Due: pre-commit-django-test, pre-commit-react-test

Added view and urls for change ad #15
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/db.sqlite3
  backend/user/migrations/0001_initial.py
Due: pre-commit-django-test

Added view and urls for updating and deleting ads #15
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/ad/serializers.py
  backend/ad/urls.py
  backend/ad/views.py
  backend/db.sqlite3
  backend/media/product/Skjermbilde_2021-03-11_kl._09.17.06.png
  backend/media/test/test.jpg
  backend/user/migrations/0001_initial.py
Due: pre-commit-django-test

Add a check to see if logged in user is creator of ad
  backend/ad/views.py
Due: pre-commit-django-test

Small fix #15
  backend/ad/urls.py
  backend/backend/urls.py
Due: pre-commit-django-test

Small fix to make pipeline work #15
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/db.sqlite3
  backend/user/migrations/0001_initial.py
Due: pre-commit-django-test

Endret edit_profile #12
  backend/user/serializers.py
  backend/user/views.py
Due: pre-commit-django-test

ferdig endre annonse #14
  backend/db.sqlite3
  backend/media/product/linjetegning.PNG
  frontend/src/App.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/service/FetchData.js
  frontend/src/user/UserInfo/EditAd.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserAds.js
  frontend/src/user/UserInfo/UserProfile.js
Due: pre-commit-react-test

noe #11
  backend/db.sqlite3
Due: none

opprettet fil for endring av profil #11
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/db.sqlite3
  backend/user/migrations/0001_initial.py
  frontend/package-lock.json
  frontend/src/user/UserInfo/EditUser.js
Due: pre-commit-django-test, pre-commit-react-test

Begynt å filtrere på flere param #24
  backend/ad/urls.py
  backend/ad/views.py
Due: pre-commit-django-test

Endre til PostData for å støtte filtrering #25
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
  frontend/src/reducers.js
Due: pre-commit-react-test

Lagt til testing av edit og delete #15
  backend/ad/tests.py
  backend/ad/views.py
  backend/user/tests.py
Due: pre-commit-django-test

Path conditions:
  pre-commit-django-test: any of: \.py$
  pre-commit-react-test: any of: \.(js|mjs|cjs)$
