Repository haakonnese/TDT4140-Programvareutvikling: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-test, pre-commit-react-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^frontend/package-lock.json
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.19.0
    hooks:
      - id: eslint
  - repo: local
    hooks:
      - id: pre-commit-django-test
        name: Django test
        entry: python backend/manage.py test backend
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pre-commit-react-test
        name: React test
        entry: npm run test --prefix frontend/
        language: system
        types: [javascript]
        pass_filenames: false

Fiks init-state reducer-test #37
  frontend/src/reducers.test.js
Due: pre-commit-react-test

mulighet for å dele produkter på flere sider #39
  frontend/src/marketplace/Products/Products.js
Due: pre-commit-react-test

ferdig flere-fordelig-frontend #39
  backend/ad/migrations/0001_initial.py
  backend/ad/migrations/0002_ad_created_by_user.py
  backend/ad/tests.py
  backend/ad/urls.py
  backend/ad/views.py
  backend/db.sqlite3
  backend/media/test/test1.jpg
  backend/media/test/test2.jpg
  backend/user/migrations/0001_initial.py
  frontend/src/App.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Filter.test.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
  frontend/src/marketplace/Products/errorMessages.js
  frontend/src/reducers.js
  frontend/src/reducers.test.js
  frontend/src/st.js
Due: pre-commit-django-test, pre-commit-react-test

fiks test #39
  frontend/src/marketplace/Products/Products.js
Due: pre-commit-react-test

fiks test #39
  frontend/src/marketplace/Products/Products.test.js
Due: pre-commit-react-test

ferdig endre-annonse #13
  backend/ad/tests.py
  backend/ad/views.py
  backend/media/test/test1.jpg
  backend/user/serializers.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
  frontend/src/App.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Filter.js
  frontend/src/marketplace/Products/Filter.test.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/marketplace/Products/Products.test.js
  frontend/src/marketplace/Products/errorMessages.js
  frontend/src/reducers.js
  frontend/src/reducers.test.js
  frontend/src/st.js
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
Due: pre-commit-django-test, pre-commit-react-test

fiks test #13
  backend/ad/views.py
Due: pre-commit-django-test

Send 36 annonser og ikke alle #40
  .gitlab-ci.yml
  .pre-commit-config.yaml
  backend/ad/tests.py
  backend/ad/views.py
Due: pre-commit-django-test

Flake8 feil E203, W503 #40
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

EditUser.test ferdig
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

usertest ferdig
  backend/media/product/621144_404637409596462_2111377339_o.jpg
Due: none

Formatering og bugfiks #11
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

Fjerne duplikat #11
  frontend/src/service/FetchData.js
Due: pre-commit-react-test

Import-typo #13
  frontend/src/user/UserInfo/EditAd.test.js
Due: pre-commit-react-test

Unødvendig feilhåndtering. Fører til feil #13
  frontend/src/App.js
  frontend/src/ProductRegistration/RegisterAd.js
  frontend/src/user/UserInfo/EditAd.js
Due: pre-commit-react-test

Sjekk at alle relevante felt er utfylt #13
  frontend/src/ProductRegistration/RegisterAd.js
Due: pre-commit-react-test

Fjern unødvendig fil #41
  frontend/src/user/txtfil
Due: none

Test editAd, editUser feilet pga provider-feil #37
  frontend/src/user/UserInfo/EditAd.js
  frontend/src/user/UserInfo/EditAd.test.js
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test

Returnere i api favorite #37
  backend/ad/serializers.py
  backend/ad/views.py
Due: pre-commit-django-test

La til funksjon for å kunne se ratings #33
  backend/ad/tests.py
  backend/media/test/test3.jpg
  backend/media/test/test_rating1.jpg
  backend/media/test/test_rating2.jpg
  backend/rating/serializers.py
  backend/rating/tests.py
  backend/rating/urls.py
  backend/rating/views.py
Due: pre-commit-django-test

La til user_id i get_ratings #33
  backend/rating/views.py
Due: pre-commit-django-test

solgt knapp på mine annonser #30
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

Skrev kommentarer
  backend/user/models.py
  backend/user/serializers.py
  backend/user/views.py
Due: pre-commit-django-test

lagt til sold-felt, skrevet testkode #31
  backend/ad/forms.py
  backend/ad/models.py
  backend/ad/serializers.py
  backend/ad/tests.py
  backend/ad/urls.py
  backend/ad/views.py
Due: pre-commit-django-test

ferdig mest sannsynlig
  backend/db.sqlite3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/user/UserAd.js
  frontend/src/user/UserAds.js
  frontend/src/user/UserInfo/UserAd.js
  frontend/src/user/UserProfile.js
Due: pre-commit-react-test

ferdig
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

la til kommentarer i koden #41
  frontend/src/marketplace/ProductInfo/ProductInfo.js
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/marketplace/Products/Products.js
  frontend/src/user/UserInfo/EditAd.js
  frontend/src/user/UserInfo/EditPassword.js
  frontend/src/user/UserInfo/EditUser.js
  frontend/src/user/UserInfo/UserAd.js
  frontend/src/user/UserInfo/UserAds.js
  frontend/src/user/UserInfo/UserProfile.js
Due: pre-commit-react-test

liten forandring
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

frontend sold ferdig
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

nåda
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

sold-frontend-ferdig
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

sold-frontend-done
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

fjerne utgråing og riktig post-verdier
  frontend/src/marketplace/Products/Product/Product.js
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

endra litt i data som sendes #38
  backend/ad/views.py
  frontend/package-lock.json
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-django-test, pre-commit-react-test

sold ferdig
  frontend/src/marketplace/Products/Product/Product.js
Due: pre-commit-react-test

tekst på markedsplassen plassering
  frontend/src/user/UserInfo/EditAd.test.js
  frontend/src/user/UserInfo/EditUser.test.js
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

sold-tekst
  frontend/src/ProductRegistration/RegisterAd.test.js
  frontend/src/marketplace/Products/Product/Product.js
Due: pre-commit-react-test

sold-tekst
  frontend/src/user/UserInfo/UserAd.js
Due: pre-commit-react-test

sold tekst
  frontend/src/user/UserInfo/EditAd.test.js
  frontend/src/user/UserInfo/EditUser.test.js
Due: pre-commit-react-test
